wheel
setuptools>=61
numpy<=1.26.4
graphql-core>=2.0
packaging<=20.1
python-dateutil<=2.8.1
Rich
scikit-learn
submitit
ax
ax-platform
matplotlib
Pyarrow
textual
tqdm
seaborn
art
pyvista
catsay
sixel
pytz
tzlocal
rich-argparse
