body {
	font-family: Verdana, sans-serif;
}

h1 {
    text-align: center;
}

.toc {
	margin-bottom: 20px;
}

.toc li {
	margin-bottom: 5px;
}

.toc a {
	text-decoration: none;
	color: #007bff;
}

.toc a:hover {
	text-decoration: underline;
}

img {
	max-width: 80%;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
	font-size: 1em;
	font-family: Arial, sans-serif;
	min-width: 400px;
}

tr {
	border-bottom: 1px solid #dddddd;
}

tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

tr:last-of-type {
	border-bottom: 2px solid #4eae46;
}

tr.active-row {
	font-weight: bold;
	color: #4eae46;
}

th, td {
	border: 1px solid #ddd;
	padding: 12px 15px;
	text-align: left;
}


.table-container {
	width: 100%;
	overflow-x: auto;
}

th {
	background-color: #4eae46;
	color: white;
	text-align: left;
}

.section-header {
	background-color: #1d6f9a !important;
	color: white;
}

.warning {
	color: red;
}

.li_list a {
	text-decoration: none;
	color: #007bff;
}
